#verde {
    accent-color: green;
}

#azul {
    accent-color: blue;
}

#vermelho {
    accent-color: red;
}

#amarelo{
    accent-color: Yellow;
}

#rosa{
    accent-color: pink;
}

#roxo{
    accent-color: purple;
}

#marrom{
    accent-color: brown;
}

#laranja{
    accent-color: orange;
}


#preto {
    accent-color: black;
}
